#### 스케일 조정
- 분석시에 변수들이 너무 스케일이 다를 경우
- 변수들의 단위 차이로 인해 숫자의 스케일이 크게 달라지는 경우

- 신경망 학습시에 데이터셋의 값이 들쑥날쑥하거나, 매우 큰 경우에는 cost의 값이 발산하여 정상적인 학습이 이루어지지 않음.

#### 스케일 종류
1. Standard Scaler
- 평균 0 , 분산 1로 조정합니다
- 보통의 싸이킷런 함수들과 비슷하게 fit, transform, fit_transform 다 지원합니다.

2. Robust Scaler
- 평균과 분산 대신 중간값(median)과 사분위값을 사용합니다
- (X - Q2) / (Q3-Q1)
[Q2 = 중간값, Q3 = 3분위값, Q1 = 1분위값]
- 이상치에 강하게 만들수 있습니다.
(1,2,3,4,5,1,3,5,1000 이런 극단저긴 데이터로 한번 생각해보세요)

3. MinMax Scaler
- (X-Xmin)/(Xmax-Xmin)
- 모든 값이 0~1사이에 존재
- 정규화 방법중 원데이터 분포를 유지하면서 정규화하는 방법(ADsP)

4. Normalizer
- 특성벡터의 모든 길이가 1이 되도록 조정 합니다(반지름 1인 원에 투영하는 느낌)
- 특성벡터의 길이는 상관없고, 데이터의 방향이나 각도가 중요할 경우 사용합니다.

#### sklearn.preprocessing.StandardScaler
* class sklearn.preprocessing.StandardScaler(*, copy=True, with_mean=True, with_std=True)
from sklearn.datasets imp

In [1]:
from sklearn.datasets import load_iris
import pandas as pd
# 붓꽃 데이터 셋을 로딩하고 DataFrame으로 변환
iris = load_iris()
iris_data = iris.data
iris_df = pd.DataFrame(data = iris_data, columns = iris.feature_names)
iris_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [2]:
from sklearn.preprocessing import StandardScaler
# StandardScaler 객체 생성
scaler = StandardScaler()
# StandardScaler 로 데이터셋 변환, fit()과 transform() 호출
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df)
# transform() 할 때 scale 변환된 데이터 셋이 numpy ndarray로 반환되어 이를 DataFrame으로 변환
iris_df_scaled = pd.DataFrame(data = iris_scaled, columns = iris.feature_names)
iris_df_scaled.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,1.500000e+02,1.500000e+02,1.500000e+02,1.500000e+02
mean,-1.468455e-15,-1.823726e-15,-1.610564e-15,-9.473903e-16
std,1.003350e+00,1.003350e+00,1.003350e+00,1.003350e+00
min,-1.870024e+00,-2.433947e+00,-1.567576e+00,-1.447076e+00
25%,-9.006812e-01,-5.923730e-01,-1.226552e+00,-1.183812e+00
50%,-5.250608e-02,-1.319795e-01,3.364776e-01,1.325097e-01
75%,6.745011e-01,5.586108e-01,7.627583e-01,7.906707e-01
max,2.492019e+00,3.090775e+00,1.785832e+00,1.712096e+00

#### sklearn.preprocessing.MinMaxScaler
* class sklearn.preprocessing.MinMaxScaler(feature_range=(0, 1), *, copy=True, clip=False)

In [3]:
from sklearn.preprocessing import MinMaxScaler
# MinMaxScaler 객체 생성
scaler = MinMaxScaler()
# MinMaxScaler로 데이터셋 변환, fit()과 transfom() 호출
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df)
#transform()시 scale 변환된 데이터셋이 numpy ndarry로 반환되어 이를 DataFrame으로 변환
iris_df_scaled = pd.DataFrame(data = iris_scaled, columns = iris.feature_names)
iris_df_scaled.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,0.428704,0.440556,0.467458,0.458056
std,0.230018,0.181611,0.299203,0.317599
min,0.000000,0.000000,0.000000,0.000000
25%,0.222222,0.333333,0.101695,0.083333
50%,0.416667,0.416667,0.567797,0.500000
75%,0.583333,0.541667,0.694915,0.708333
max,1.000000,1.000000,1.000000,1.000000